<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Adventure</title>
</head>
<body>
   <h1>My Adventure Game</h1>
   <h2>{{step}}</h2>
   <p>{{data.text}}</p>
   <ol>
    {% for choice, destination in data.choices.items() %}
     <li><a href="{{ destination }}">{{ choice }}</a></li>
    {% endfor %}
   </ol>
</body>
</html>